p
	img(alt='conditionalブロック', src='image/conditional.png')
	| は、上から入ってきた数が<strong>0</strong>なら、<br>右の数を下に送ります。

p
	include conditional0.svg
p
	| 上から入ってきた数が<strong>0以外</strong>なら、<br>左の数を下に送ります。

p
	include conditional1.svg

p
	img(alt='transistorブロック', src='image/transistor.png')
	| は、上から入ってきた数が<strong>0</strong>なら、<br>左の数を下に送ります。

p
	include transistor0.svg
p
	| 上から入ってきた数が<strong>0以外</strong>なら、<br>左の数を右に送ります。

p
	include transistor1.svg
