{
	"env": {
		"debug": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"browsers": [
								"last 2 Chrome versions"
							]
						},
						"useBuiltIns": "entry",
						"corejs": 3
					}
				],
				"@babel/preset-react"
			],
			"plugins": [
				"transform-inline-environment-variables",
				"@babel/plugin-proposal-class-properties"
			]
		},
		"production": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"browsers": [
								"last 2 Chrome versions",
								"last 2 Firefox versions",
								"ie 11",
								"last 2 edge versions",
								"Safari >= 10",
								"iOS >= 10"
							]
						},
						"useBuiltIns": "entry",
						"corejs": 3
					}
				],
				"@babel/preset-react"
			],
			"plugins": [
				"transform-inline-environment-variables",
				"@babel/plugin-proposal-class-properties",
				"transform-react-remove-prop-types"
			]
		},
		"test": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"browsers": [
								"last 2 Chrome versions"
							]
						},
						"useBuiltIns": "entry",
						"corejs": 3
					}
				],
				"@babel/preset-react"
			],
			"plugins": [
				"transform-inline-environment-variables",
				"@babel/plugin-proposal-class-properties",
				"istanbul"
			]
		}
	}
}
