{
	env: {
		debug: {
			presets: [
				['env', {
					targets: {
						browsers: [
							'last 2 Chrome versions',
						],
					},
					useBuiltIns: true,
				}],
				'react',
			],
			plugins: [
				'transform-inline-environment-variables',
				'transform-class-properties',
			],
		},
		production: {
			presets: [
				['env', {
					targets: {
						browsers: [
							'last 2 Chrome versions',
							'last 2 Firefox versions',
							'ie 11',
							'last 2 edge versions',
							'Safari >= 10',
							'iOS >= 10',
						],
					},
					useBuiltIns: true,
				}],
				'react',
			],
			plugins: [
				'transform-inline-environment-variables',
				'transform-class-properties',
				'transform-react-remove-prop-types',
			],
		},
		react: {
			presets: [
				'react',
			],
			plugins: [
				'transform-class-properties',
				'transform-async-to-generator',
			],
		},
	},
}
