[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{js,jsx,pug,less}]
indent_style = tab

[*.json]
indent_style = space
indent_size = 4

[*.ls,{package.json,.travis.yml}]
indent_style = space
indent_size = 2
