doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title MNEMO
		script(src="index.js", charset="utf-8")
		link(href="index.css", rel="stylesheet")
	body
		.container
			.layer.background-layer
			.layer.stage-layer
				.stage
					h2.statement

					h2 Input

					.inputs

					.board-wrap
						.board
							.rows
							.data-layer

					.clock Clock: <span class="clock-num">0</span>

					h2 Output

					.outputs
						.user-outputs
						.correct-outputs

					.panel

					.controls
						button.btn.btn-primary.btn-lg.execute(type = 'button') Execute
						button.btn.btn-success.btn-lg.stop(type = 'button') Stop
