.container h1 {
  text-align: center;
  color: red;
}
.container h2 {
  text-align: center;
}
.container .inputs,
.container .user-outputs,
.container .correct-outputs {
  display: flex;
  justify-content: center;
}
.container .inputs .input,
.container .user-outputs .input,
.container .correct-outputs .input,
.container .inputs .output,
.container .user-outputs .output,
.container .correct-outputs .output {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  border: 1px solid;
}
.container .inputs .input.correct,
.container .user-outputs .input.correct,
.container .correct-outputs .input.correct,
.container .inputs .output.correct,
.container .user-outputs .output.correct,
.container .correct-outputs .output.correct {
  background-color: pink;
}
.container .inputs .input.wrong,
.container .user-outputs .input.wrong,
.container .correct-outputs .input.wrong,
.container .inputs .output.wrong,
.container .user-outputs .output.wrong,
.container .correct-outputs .output.wrong {
  background-color: lightblue;
}
.container .board-wrap {
  text-align: center;
}
.container .board-wrap .board {
  display: inline-flex;
  position: relative;
}
.container .board-wrap .rows {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.container .board-wrap .rows .row {
  display: inline-flex;
  margin: 0;
}
.container .board-wrap .data-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.container .board-wrap .data-layer .data {
  position: absolute;
  padding: 3px;
  line-height: 1em;
  font-weight: bold;
  border-radius: 5px;
  background: darkorange;
  transform: translate(-50%, -50%);
  color: white;
}
.container .block {
  width: 50px;
  height: 50px;
  background: pink;
  border: 1px solid darksalmon;
  cursor: pointer;
  box-sizing: border-box;
  background-size: contain;
}
.container .block[selected] {
  border: 3px solid red;
}
.container .block[data-type=diode] {
  background: url("image/diode.png");
}
.container .block[data-type=diode][data-rotate='90'] {
  background: url("image/diode-r90.png");
}
.container .block[data-type=diode][data-rotate='180'] {
  background: url("image/diode-r180.png");
}
.container .block[data-type=diode][data-rotate='270'] {
  background: url("image/diode-r270.png");
}
.container .block[data-type=wireT] {
  background: url("image/wireT.png");
}
.container .block[data-type=wireT][data-rotate='90'] {
  background: url("image/wireT-r90.png");
}
.container .block[data-type=wireT][data-rotate='180'] {
  background: url("image/wireT-r180.png");
}
.container .block[data-type=wireT][data-rotate='270'] {
  background: url("image/wireT-r270.png");
}
.container .block[data-type=wireL] {
  background: url("image/wireL.png");
}
.container .block[data-type=wireL][data-rotate='90'] {
  background: url("image/wireL-r90.png");
}
.container .block[data-type=wireL][data-rotate='180'] {
  background: url("image/wireL-r180.png");
}
.container .block[data-type=wireL][data-rotate='270'] {
  background: url("image/wireL-r270.png");
}
.container .block[data-type=minus-2] {
  background: url("image/minus-2.png");
}
.container .block[data-type=minus-2][data-rotate='90'] {
  background: url("image/minus-2-r90.png");
}
.container .block[data-type=plus-2] {
  background: url("image/plus-2.png");
}
.container .block[data-type=plus-2][data-rotate='90'] {
  background: url("image/plus-2-r90.png");
}
.container .block[data-type=plus-1] {
  background: url("image/plus-1.png");
}
.container .block[data-type=plus-1][data-rotate='90'] {
  background: url("image/plus-1-r90.png");
}
.container .block[data-type=times-3] {
  background: url("image/times-3.png");
}
.container .block[data-type=times-3][data-rotate='90'] {
  background: url("image/times-3-r90.png");
}
.container .block[data-type=add-3] {
  background: url("image/add-3.png");
}
.container .block[data-type=add-3][data-rotate='90'] {
  background: url("image/add-3-r90.png");
}
.container .block[data-type=times-2] {
  background: url("image/times-2.png");
}
.container .block[data-type=times-2][data-rotate='90'] {
  background: url("image/times-2-r90.png");
}
.container .block[data-type=wireI] {
  background: url("image/wireI.png");
}
.container .block[data-type=wireI][data-rotate='90'] {
  background: url("image/wireI-r90.png");
}
.container .block[data-type=transistor] {
  background: url("image/transistor.png");
}
.container .block[data-type=conditional] {
  background: url("image/conditional.png");
}
.container .block[data-type=c-contact] {
  background: url("image/c-contact.png");
}
.container .block[data-type=iko-ru] {
  background: url("image/iko-ru.png");
}
.container .block[data-type=div] {
  background: url("image/div.png");
}
.container .block[data-type=mul] {
  background: url("image/mul.png");
}
.container .block[data-type=sub] {
  background: url("image/sub.png");
}
.container .block[data-type=add] {
  background: url("image/add.png");
}
.container .clock {
  text-align: center;
  font-size: 1.5em;
}
.container .panel {
  display: flex;
  width: auto;
  max-width: 600px;
  overflow-y: auto;
  padding: 10px;
  margin: 30px auto 0;
  background: lightgray;
  border-radius: 5px;
}
.container .panel .block {
  flex-shrink: 0;
}
.container .panel .block .count {
  pointer-events: none;
}
.container .controls {
  text-align: center;
  margin-top: 30px;
}
