doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title MNEMO
		script if (location.hostname === 'mnemo.pro' && location.protocol === 'http:') location.protocol = 'https:';
		if process.env.NODE_ENV === 'production'
			script(src="index.min.js", charset="utf-8", async)
			link(href="index.min.css", rel="stylesheet")
		else
			script(src="index.js", charset="utf-8", async)
			link(href="index.css", rel="stylesheet")
	body
		a.github-fork-ribbon(href='https://github.com/tsg-ut/mnemo', title='Fork me on GitHub', target='_blank') Fork me on GitHub
		.container
			.layer.background-layer
				- for (let i = 0; i < 8; i++)
					.cloud
			.layer.screens-layer
				.screens
					.screen.menu-screen
						.menu
							.row
								img.logo(src = 'image/logo-slim.png')
							.row
								button.big.start はじめる
							.row
								button.small.select ステージセレクト
								ol.stage-list
							.row
								button.small.credit クレジット
								ul.credit-body
									li
										| “On the wall of pipe frame vector”
										| by <a href="http://freedesignfile.com/">freedesignfile</a>
										| Licensed under CC-BY
									li
										| “Set of message board with message paper vector”
										| by <a href="http://freedesignfile.com/">freedesignfile</a>
										| Licensed under CC-BY
									li
										| “Set of pipeline parts vector”
										| by <a href="http://freedesignfile.com/">freedesignfile</a>
										| Licensed under CC-BY
									li
										| “Bright Outdoor Spring Landscape”
										| by <a href="http://all-free-download.com/free-vector/download/bright-outdoor-spring-landscape_144697.html">CreativeSwell</a>
										| Licensed under CC-BY
					.screen.game-screen
						.stage.layer.stage-layer
							.upper-area
								.pipe-area
									.upper-pipe-area
										.left-corner-pipe
										.left-pipe
										.center-pipe
										.right-pipe
										.right-corner-pipe
									.case-board-area
										.case-pipe-area
											.case-joint-top-pipe
											.case-top-pipe
											.case-area
												.case
													.inputs
													.arrows
													.outputs
														.correct-outputs
														.user-outputs
											.case-bottom-pipe
											.case-joint-bottom-pipe
										.board-area
											.board-frame-wrapper
												.board-joint-top-pipe
												.board-top-pipe
												.board-frame
													.top
														.left
														.center
														.right
													.middle
														.left
														.center.board-wrap
															.board
																.rows
																.data-layer
														.right
													.bottom
														.left
														.center
														.right
													.clock-area
														span.clock-icon
														span.clock-value 0
												.board-bottom-pipe
												.board-joint-bottom-pipe
									.downer-pipe-area
										.left-corner-pipe
										.left-pipe
										.center-pipe
										.right-pipe
										.right-corner-pipe
								.panel-area
									.panel
							.downer-area
								.left-area
								.controls-area
									.controls
										button.exit(type = 'button')
										button.ranking(type = 'button')
										button.execute(type = 'button')
										button.stop(type = 'button')
										button.rapid(type = 'button')
										button.step(type = 'button')
								.right-area
									.statement-area
										.mission MISSION
										.statement
						.layer.result-layer
							.result
								.result-head
									.clear
								.stats
									.clocks 961
									.blocks 765
								.block-area
									button.close 閉じる
									button.next 次のステージへ
						.layer.modal-layer
							- const modals = ['tutorial01', 'tutorial02']
							each modal in modals
								.modal(class=modal)
									.modal-content
										case modal
											when 'tutorial01': include:markdown-it modals/tutorial01.md
											when 'tutorial02': include:markdown-it modals/tutorial02.md
										button.close-content OK
