doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title MNEMO
		script(src="index.js", charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
		link(href="index.css", rel="stylesheet")
	body
		.container
			h1 MNEMO
			.stage
				.board-wrap
					.board
						.rows
						.data-layer

				.panel

				.controls
					button.btn.btn-primary.btn-lg.execute(type = 'button') Execute
