doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title MNEMO
		script(src="index.js", charset="utf-8")
		link(href="index.css", rel="stylesheet")
	body
		.container
			.layer.background-layer
			.stage.layer.stage-layer
				.upper-area
					.pipe-area
						.upper-pipe-area
							.left-corner-pipe
							.left-pipe
							.center-pipe
							.right-pipe
							.right-corner-pipe
						.case-board-area
							.case-pipe-area
								.case-upper-pipe-area
								.case-area
									.case
										.inputs
										.arrows
										.outputs
											.correct-outputs
											.user-outputs
								.case-downer-pipe-area
							.board-area
								.board-frame-upper
									.boader-frame-topleft
									.boader-frame-top
									.boader-frame-topright
								.board-frame-middle
									.boader-frame-left
									.boader-frame-center
										.board
											.rows
											.data-layer
									.boader-frame-right
								.board-frame-downer
									.boader-frame-bottomleft
									.boader-frame-bottom
									.boader-frame-bottomright
						.downer-pipe-area
							.left-corner-pipe
							.left-pipe
							.center-pipe
							.right-pipe
							.right-corner-pipe
					.panel-area
						.panel
				.downer-area
					.left-area
					.controls-area
						.controls
							button.exit(type = 'button')
							button.ranking(type = 'button')
							button.execute(type = 'button')
							button.rapid(type = 'button')
							button.step(type = 'button')
					.right-area
						.statement-area
							.mission MISSION
							.statement
