doctype
html
	head
		meta(charset="utf-8")
		title MNEMO
		script(src="index.js", charset="utf-8")
		link(href="index.css", rel="stylesheet")
	body
		.wrap
			h1 MNEMO
			.board-wrap
				.board
					- for (let y = 0; y < 3; y++)
						.row(data-y=y)
							- for (let x = 0; x < 3; x++)
								.block(data-x=x, data-y=y)

			.panel
				- for (let i = 0; i < 10; i++)
					.block(data-type=i)
