doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title MNEMO
		script(src="index.js", charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
		link(href="index.css", rel="stylesheet")
	body
		.container
			h1 MNEMO
			.stage
				.board-wrap
					.board
						- for (let y = 0; y < 9; y++)
							.row(data-y=y)
								- for (let x = 0; x < 9; x++)
									.block(data-x=x, data-y=y)
						.data-layer

				.panel
					for block, index in ['wire0', 'wire1', 'wire2', 'wire3', 'wire4', 'wire5', 'wire6', 'wire7', 'wire8', 'wire9', 'times-2', 'add-3', 'add', 'sub', 'mul', 'div']
						.block(data-type = block, selected = index === 0)

				.controls
					button.btn.btn-primary.btn-lg.execute(type = 'button') Execute
