.fixed-height(@height) {
	flex: 0 0 @height;
	height: @height;
}

.fixed-width(@width) {
	flex: 0 0 @width;
	width: @width;
}

.grow-height(@ratio) {
	flex: @ratio 0 0;
	height: 0;
}

.grow-width(@ratio) {
	flex: @ratio 0 0;
	width: 0;
}

html, body, .container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.container {
	.layer {
		background-size: cover;
		background-position: center;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		z-index: 0;

		&.background-layer {
			position: fixed;
			background-image: url(image/background.svg);
		}
	}

	.stage-layer {
		display: flex;
		flex-direction: column;

		.upper-area {
			flex: 1 0 0;
			height: 0;

			display: flex;

			.panel-area {
				.fixed-width(200px);
			}

			.pipe-area {
				flex: 1 0 0;
				width: 0;

				display: flex;
				flex-direction: column;

				.upper-pipe-area {
					.fixed-height(131px);

					margin-left: 100px;
					margin-right: 100px;

					display: flex;

					.left-corner-pipe {
						.fixed-width(93px);
						background-image: url(image/pipe-upper-left-corner.png);
					}

					.left-pipe, .right-pipe {
						background-image: url(image/pipe-upper.png);
						background-size: 100% 100%;
					}

					.left-pipe {
						.grow-width(1);
					}

					.right-pipe {
						.grow-width(2);
					}

					.center-pipe {
						.fixed-width(81px);
						background-image: url(image/pipe-upper-center.png);
					}

					.right-corner-pipe {
						.fixed-width(93px);
						background-image: url(image/pipe-upper-right-corner.png);
					}
				}

				.downer-pipe-area {
					.fixed-height(119px);
				}

				.case-board-area {
					flex: 1 0 0;
					height: 0;
				}
			}
		}

		.downer-area {
			@height: 130px;
			flex: 0 0 @height;
			height: @height;
		}
	}

	.inputs, .user-outputs, .correct-outputs {
		display: flex;
		justify-content: center;

		.input, .output {
			width: 80px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			font-size: 24px;
			border: 1px solid;
			&.correct{ background-color: pink;}
			&.wrong{ background-color: lightblue;}

		}
	}

	.board-wrap {
		text-align: center;

		.board {
			display: inline-flex;
			position: relative;
		}

		.rows {
			display: inline-flex;
			flex-direction: column;
			position: relative;

			.row {
				display: inline-flex;
				margin: 0;
			}
		}

		.data-layer {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			pointer-events: none;

			.data {
				position: absolute;
				padding: 3px;
				line-height: 1em;
				font-weight: bold;
				border-radius: 5px;
				background: darkorange;
				transform: translate(-50%, -50%);
				color: white;
			}
		}
	}

	.block {
		width: 50px;
		height: 50px;
		background: pink;
		border: 1px solid darksalmon;
		cursor: pointer;
		box-sizing: border-box;
		background-size: contain;

		&[selected] {
			border: 3px solid red;
		}

		@blocks-rotate4: wireL, wireT, diode;
		@blocks-rotate2: wireI, times-2, add-3, times-3, plus-1, plus-2, minus-2;
		@blocks-norotate: add, sub, mul, div, iko-ru, c-contact, conditional, transistor, wireX;
		.-r4(@i: length(@blocks-rotate4)) when (@i > 0) {
			@name: extract(@blocks-rotate4, @i);
			&[data-type=@{name}] {
				background: url("image/@{name}.png");
				&[data-rotate='90'] {
					background: url("image/@{name}-r90.png");
				}
				&[data-rotate='180'] {
					background: url("image/@{name}-r180.png");
				}
				&[data-rotate='270'] {
					background: url("image/@{name}-r270.png");
				}
			}
			.-r4((@i - 1));
		} .-r4;
		.-r2(@i: length(@blocks-rotate2)) when (@i > 0) {
			@name: extract(@blocks-rotate2, @i);
			&[data-type=@{name}] {
				background: url("image/@{name}.png");
				&[data-rotate='90'] {
					background: url("image/@{name}-r90.png");
				}
			}
			.-r2((@i - 1));
		} .-r2;
		.-(@i: length(@blocks-norotate)) when (@i > 0) {
			@name: extract(@blocks-norotate, @i);
			&[data-type=@{name}] { background: url("image/@{name}.png"); }
			.-((@i - 1));
		} .-;
	}

	.clock {
		text-align: center;
		font-size: 1.5em;
	}

	.panel {
		display: flex;
		width: auto;
		max-width: 600px;
		overflow-y: auto;
		padding: 10px;
		margin: 30px auto 0;
		background: lightgray;
		border-radius: 5px;

		.block {
			flex-shrink: 0;

			.count {
				pointer-events: none;
			}
		}
	}

	.controls {
		text-align: center;
		margin-top: 30px;
	}
}
