p
    | <strong>計算ブロックの使い方</strong>

p
    | 次のようなブロックは数字が通ると、ブロックに書かれている計算を行います。

p
    include calcblocks.svg

p
    | 黄色い丸のブロックは少し特殊で、どんな数字が入っても決まった数に変わります。

p
    include const.svg

p これらのブロックも回転できます。

p
    include rotate-plus-1.svg
