p クリアおめでとうございます!

p 今度は数字を別の数字に変換してみましょう。

p
	| このゲームでは先ほど使った<strong>ワイヤー</strong>の他にも<br>
	| たくさんの種類の<strong>ブロック</strong>を並べることができます。

p
	img(alt='たくさんのブロック', src='modals/02/blocks.png')

p
	| たとえば
	img(alt='times-2ブロック', src='image/times-2.png')
	| ブロックは入ってきた数を2倍にします。

p
	include times-2.svg
