p
	img(src='image/logo.png')

p プログラミング体験パズルゲーム、MNEMO(ニーモ)をお遊びいただき、ありがとうございます!

p このゲームの目的はパネルに表示されている数を、下の数に変換することです。

p
	img(src='modals/01/case.png')

p 百聞は一見にしかず! まずはボードの上と下をパイプでつないでみましょう。

p ボードをクリックするとパイプを配置できます。

p
	img(src='modals/01/board.png')

p 準備ができたら、下の実行ボタンを押してください。

p
	img(src='modals/01/control.png')
